img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.search-container{
    display: flex;

    color: #fff;
    .search-page-title {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search-page-title-hotspot{
        display:grid;
        grid-template-columns: 1fr;
        height: 20vh;
        text-align: center;
        div{
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }
    .inner-div {
        margin: 8px 4px;
        height: 40vh;
    }
    img {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}