.search-icons-container {
    position: fixed;
    bottom: 7%;
    left: 0;
    width: 100%;

    .search-icons-inner-container{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: end;
        transition: 0.3s;
        button{
            margin-right: 10px;
            transition: 0.6s;
        }
        .img-location{
            width: 25px;
        }
        .img-scroll{
            width: 29px;
        }
        .img-loup{
            width: 29px;
        }
        &.translate-top{
            transform: translateY(-8vh);
        }
    }
}

.mini-nav{
    width:100%;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    padding: 3px 0;
    letter-spacing: 3px;
    a{
        color: $secondary;
        text-transform: uppercase;
        &:hover{
           // color: $hover-color
        }
        &.tag-icon-link{
            display: flex;
            font-size: 12px;
            text-transform: capitalize;
            .tag-icon{
            width: 15px;
            margin: 0;
            }
        }    
        &.router-link-active{
          color: $hover-color;
        }
    }     
}

#locations-container{
    background-color: $primary;
    color: $secondary;
    overflow: scroll;
    height: 25vh;
    position: fixed;
    width: 100%;
    transition: 0.3s;
    bottom: 20vh;
   &.hide{
       left: -100vh;
       }
    ul{
        margin: 0;
        padding:0;
       li{
        margin: 18px 0px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 5px;
        } 
    }   
}

.check-icon-container{ 
        text-align: right;  
        position:absolute;
        bottom: 15vh;
        right: 4vw;
        .check-icon{
            width: 15px;
            margin: 0;
            margin-right: 15px;        
        }
    }
.color-selected{
    color: $hover-color;
}
.hide-r{
 animation: hide-r .7s forwards;
}

.show-r{
 animation: show-r 0.7s forwards;
}

.hide-right{
    transform: translateX(30vw);
}
.move-down{
    transform: translateY(-21vh);
}

@keyframes hide-r {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100vh);
    }
}
@keyframes show-r {
    0%{
        transform: translateX(-100vh);
    }
    100%{
        transform: translateX(0);
    }
}

@media screen and (min-width: 791px) {
@keyframes hide-r {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200vh);
    }
}
@keyframes show-r {
    0%{
        transform: translateX(-200vh);
    }
    100%{
        transform: translateX(0);
    }
}
.move-down{
    transform: translateY(8vw);
}
/* Hide scrollbar for Chrome, Safari and Opera */
#locations-container::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#locations-container{
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
}
