.search-view {
	transition: 1s;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $trans-black;
	z-index: 3;

	#search-container-1 {
		text-align: center;
		.input-container {
			position: relative;
			text-align: center;
			margin-top: 4%;
			input {
				position: absolute;
				background-color: #fff;
				left: 5%;
				top: 5px;
				width: 90%;
				padding: 12px 15px;
				border-radius: 10px;
				border: none;
				z-index: 2;
                &:focus{
                    outline: none;
                }
			}
			#search-result {
				position: absolute;
				background-color: lighten($trans-black, 40);
				left: 5%;
				top: 35px;
				width: 90%;
				margin: auto;
				text-align: left;
				border-radius: 0 0 10px 10px;
				padding: 15px 0px 5px 6px;
				z-index: 1;

				ul {
					margin: 0;
					padding: 0;
					li{
						display: grid;
						grid-template-columns: 1fr 11fr;
						justify-items: center;
						align-items: center;
						color: #fff;
						margin-bottom: 3px;
						span:nth-child(2) {
							justify-self: start;
							text-align: left;
						}
                        }
                    }
                }
            }
        }
    }